<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-toolbar-row>
    <button mat-stroked-button routerLink="" class="logo-button">Shoppy</button>
    
    <span class="spacer"></span>
    
    <button mat-button routerLink="/shopping-cart">Shopping Cart</button>
    
    <ng-container *ngIf="authService.firebaseAuthUser$ | async as user; else loginButton">
      <button mat-button [matMenuTriggerFor]="menu">{{ user.displayName }}<mat-icon>keyboard_arrow_down</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>My Orders</button>
        <ng-container *ngIf="appUser$ | async as appUser">
          <ng-container *ngIf="appUser?.isAdmin">
            <button mat-menu-item routerLink="/admin/orders">Manage Orders</button>
            <button mat-menu-item routerLink="/admin/products">Manage Products</button>
          </ng-container>
        </ng-container>
        <button mat-menu-item (click)="logout()">Log Out</button>
      </mat-menu>
    </ng-container>

    <ng-template #loginButton>
      <button mat-button routerLink="/login">Login</button>
    </ng-template>
    <a href="https://github.com/SanyamMishra/shoppy" target="_blank">
      <img src="assets/github-light.png" alt="github-logo" matTooltip="View on GitHub">
    </a>
  </mat-toolbar-row>
</mat-toolbar>